{{{EmailInput}}}
{{{LoginInput}}}
{{{FirstNameInput}}}
{{{SecondNameInput}}}
{{{PasswordInput}}}
{{{PasswordRepeatInput}}}
{{{PhoneInput}}}
<div class="registration__form-buttons">
  {{{RegistrationButton}}}
  {{{LoginButton}}}
</div>