<div class="settings">
  <form class="settings__content">
    <div class="settings__main-info">
      <div class="settings__avatar">
        <img
          src="{{UserInfo.avatarUrl}}"
          alt="Avatar"
          class="settings__avatar-image"
        />
      </div>
      <p class="settings__name">{{UserInfo.name}}</p>
    </div>
    <div class="settings__info-rows">
      <div class="settings__info-row">
        <span class="settings__info-label">Почта:</span>
        <input type="text" class="settings__info-input" name="email" value="{{UserInfo.email}}" />
      </div>
      <div class="settings__info-row">
        <span class="settings__info-label">Логин:</span>
        <input type="text" class="settings__info-input" name="login" value="{{UserInfo.login}}" />
      </div>
      <div class="settings__info-row">
        <span class="settings__info-label">Имя:</span>
        <input type="text" class="settings__info-input" name="first_name" value="{{UserInfo.first_name}}" />
      </div>
      <div class="settings__info-row">
        <span class="settings__info-label">Фамилия:</span>
        <input type="text" class="settings__info-input" name="second_name" value="{{UserInfo.second_name}}" />
      </div>
      <div class="settings__info-row">
        <span class="settings__info-label">Телефон:</span>
        <input type="text" class="settings__info-input" name="phone" value="{{UserInfo.phone}}" />
      </div>
    </div>
    {{> Button
      className="settings__button"
      text="Изменить данные"
      styleType="primary"
      type="submit"
    }}
    {{> Button
      className="settings__button"
      text="Выйти из аккаунта"
      styleType="outline"
      type="button"
    }}
  </form>
</div>